<div class="inner">
	<header class="header">
		<h2 class="heading"><%= title %></h2>
	</header><!-- /header -->

	<ul class="list">
		<li class="item">
			<div class="date">
				<span class="day">25</span>
				<span class="month">Aug</span>
			</div>

			<div class="event">
				<span class="title">Key event title</span>
				<span class="location">Event location</span>
			</div>
		</li>
		<li class="item">
			<div class="date">
				<span class="day">25</span>
				<span class="month">Aug</span>
			</div>

			<div class="event">
				<span class="title">Key event title</span>
				<span class="location">Event location</span>
			</div>
		</li>
		<li class="item">
			<div class="date">
				<span class="day">25</span>
				<span class="month">Aug</span>
			</div>

			<div class="event">
				<span class="title">Key event title</span>
				<span class="location">Event location</span>
			</div>
		</li>
		<li class="item">
			<div class="date">
				<span class="day">25</span>
				<span class="month">Aug</span>
			</div>

			<div class="event">
				<span class="title">Key event title</span>
				<span class="location">Event location</span>
			</div>
		</li>
	</ul>
</div>