<div class="inner">
	
	<header class="header">
		<h2 class="heading"><%= title %></h2>
	</header><!-- /header -->

	<section class="chart"></section>
	<section class="chart"></section>

	<section class="twitter__user"></section>

</div>