<div class="inner">
	<header class="header content">
		<h2 class="heading"><%= title %></h2>
	</header><!-- /header -->

	<div class="content">
		
		<div class="figure">
			<img class="preview" src="http://placehold.it/1000x600" alt="">
		</div>

		<div class="entry-content">
			<div class="scroll">
				<span class="news__info date">12th Jan 2013</span>
				<span class="news__info author">By Alex Coady</span>

				<h3>Some heading</h3>

				<p>Lorem ipsum Aliqua amet eiusmod esse magna dolore esse labore dolor consequat mollit minim do est ut cillum id esse in fugiat voluptate incididunt labore anim labore in cillum voluptate exercitation minim anim pariatur cillum aliquip ut sed Duis adipisicing elit incididunt cillum cupidatat culpa tempor esse nostrud sunt laborum commodo sint eu nisi occaecat sed labore irure sed et incididunt mollit esse fugiat deserunt Excepteur voluptate ut Duis id dolore anim aliquip commodo amet dolore pariatur tempor eiusmod reprehenderit ea in veniam consequat non ad ex adipisicing consequat cupidatat Duis sit non sint quis consequat quis incididunt consequat nulla ut in aute aliquip nisi labore quis commodo cillum reprehenderit sit quis nostrud in in cupidatat aliquip ad enim deserunt tempor officia in commodo quis dolor Duis officia dolor eu magna ea deserunt nisi sit nulla pariatur velit dolor anim mollit incididunt qui pariatur laborum quis aliqua ullamco mollit dolore eiusmod elit qui sed quis sit adipisicing quis est Duis nostrud ad nulla magna aliquip esse ex nisi irure Excepteur proident labore laboris Duis fugiat enim aute esse et occaecat ex qui dolore magna ullamco officia velit Duis cillum do elit consectetur proident reprehenderit dolor elit minim quis voluptate deserunt dolore tempor velit occaecat amet pariatur aute irure laboris commodo nulla voluptate culpa non voluptate qui cillum est quis ullamco.</p>
			</div>
		</div>
	</div>
</div>