<div class="inner">
	<header class="header">
		<h2 class="heading"><%= title %></h2>

		<h3 class="question">Lorem ipsum Veniam elit eiusmod Duis incididunt Ut sit culpa amet Duis ut sunt cillum sit?</h3>
	</header><!-- /header -->
</div>