<div class="inner">
	<header class="header">
		<h2 class="heading"><%= title %></h2>
	</header><!-- /header -->

	<section class="chart"></section>
	<section class="chart"></section>
	<section class="tweet">
		<span class="text">Lorem ipsum Non veniam sint exercitation aliquip in veniam quis cupidatat sunt reprehenderit dolore culpa minim veniam sed in proident occaecat incididunt eiusmod ea ea dolore Duis id dolore.</span>
	</section>

	<section class="stat-wrap">
		<section class="stat">
			<span class="value">3534</span>
			<span class="property">Tweets</span>
		</section>

		<section class="stat">
			<span class="value">254</span>
			<span class="property">Retweets</span>
		</section>

		<section class="stat">
			<span class="value">54,354</span>
			<span class="property">Mentions</span>
		</section>
	</section>

</div>