/* -------------------------------------------------------- */
/* ------- COLOURS ---------------------------------------- */
/* -------------------------------------------------------- */



/* ------- COLOURS - DEFINITION --------------------------- */

$color-indigo: 			#424297;
$color-magenta: 		#EE3D96;
$color-cyan: 			#21A5DE;
$color-yellow:			#FAC312;

$color-torquoise: 		#00B0A9;
$color-torquoise-bright:#17FFF6;

$color-orange:			#F78E26;
$color-green:			#22B372;
$color-red: 			#D1174C;

$color-grey-pale:		#F0F0EE;
$color-grey-med:		#969694;
$color-grey-dark:		#323230;

/* ------- COLOURS - CONTEXT ------------------------------ */

$color-for-countdown:	$color-indigo;
$color-for-news:		$color-red;
$color-for-twitter:		$color-torquoise;


/* -------------------------------------------------------- */
/* ------- FONTS ------------------------------------------ */
/* -------------------------------------------------------- */

/* ------- FONTS - DEFINITION ----------------------------- */

$font-special: 			'Serifa W01 Light';
$font-special-italic: 	'Serifa W01 Light Italic';
$font-special-bold: 	'Serifa W01 Bold';
$font-default: 			'FrutigerLTW01-45Light';
$font-default-bold: 	'Frutiger LT W01 65 Bold';

/* ------- FONTS - CONTEXT -------------------------------- */


/* -------------------------------------------------------- */
/* ------- SPACING ---------------------------------------- */
/* -------------------------------------------------------- */

$spacing:									10px;