@import "compass/utilities/general/clearfix";
@import "compass/reset";

@import "settings";

/* -------------------------------------------------------- */
/* ------- GLOBAL ----------------------------------------- */
/* -------------------------------------------------------- */

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: $font-default;
	font-size: 16px;
	background: #EAEAEA;
}

p, span {
	line-height: 1.3em;
}

/* -------------------------------------------------------- */
/* ------- SCREEN ----------------------------------------- */
/* -------------------------------------------------------- */

.screen {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 5px;
	position: relative;
	min-width: 1024px;
	min-height: 768px;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS --------------------------------------- */
/* -------------------------------------------------------- */

.section {
	position: absolute;
}

.section > .inner {
	@include clearfix;
	margin: 5px;
	background: #FFF;
	height: calc(100% - 10px);
}

.section .header {
	margin: 10px;
}

.section .heading {
	font-size: 1.4em;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - COUNTDOWN --------------------------- */
/* -------------------------------------------------------- */

.section-countdown {
	top: 0%;
	left: 20%;
	width: 60%;
	height: 10%;
	text-align: center;
}

.section-countdown .time {
	display: inline-block;
	font-size: 4em;
	text-transform: uppercase;
	line-height: 1.6em;
	margin-right: 20px;
}

.section-countdown .until {
	display: inline-block;
	font-size: 2em;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - NEWS -------------------------------- */
/* -------------------------------------------------------- */

.section-news {
	top: 00%;
	left: 0%;
	width: 20%;
	height: 60%;
}

.section-news .figure {
	margin: 10px;
}

.section-news .figure .preview {
	max-width: 100%;
	height: auto;
}

.section-news .figure .caption {
	margin-top: 10px;
}

.section-news .entry-content {
	margin: 10px;
}

.section-news .entry-content .date {
	font-size: 1.2em;
}

.section-news .entry-content p {
	font-size: 2em;
	margin-bottom: 10px;
}


/* -------------------------------------------------------- */
/* ------- SECTIONS - TWITTER ----------------------------- */
/* -------------------------------------------------------- */

.section-twitter {
	top: 10%;
	left: 20%;
	width: 30%;
	height: 80%;
}

.section-twitter .chart {
	width: calc(100% - 40px);
	margin: 0 20px 20px;
	height: 150px;
	background: #EAEAEA;
}

.section-twitter .tweet {
	@include clearfix;
	width: calc(100% - 40px);
	margin: 0 20px 20px;
	height: 150px;
	background: pink;
}

.section-twitter .tweet .text {
	display: block;
	margin: 20px;
	font-size: 1.2em;
}

.section-twitter .stat-wrap {
	margin: 0 10px;
}

.section-twitter .stat {
	float: left;
	margin: 0 10px;
}

.section-twitter .stat .value {
	font-size: 4em;
	display: block;
}

.section-twitter .stat .property {
	font-size: 1em;
	display: block;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TEAM -------------------------------- */
/* -------------------------------------------------------- */

.section-team {
	top: 10%;
	left: 50%;
	width: 30%;
	height: 80%;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TICKER ------------------------------ */
/* -------------------------------------------------------- */

.section-ticker {
	top: 90%;
	left: 0%;
	width: 100%;
	height: 10%;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - POLL -------------------------------- */
/* -------------------------------------------------------- */

.section-poll {
	top: 0%;
	left: 80%;
	width: 20%;
	height: 90%;
}

.section-poll .question {
	margin-top: 20px;
	font-size: 1.4em;
	line-height: 1.3em;
	text-align: center;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - DATES ------------------------------- */
/* -------------------------------------------------------- */

.section-dates {
	top: 60%;
	left: 0%;
	width: 20%;
	height: 30%;
}

.section-dates .list {
	margin: 10px;
}

.section-dates .item {
	@include clearfix;
	display: block;
	margin-bottom: 10px;
}

.section-dates .item .date {
	float: left;

	.day { font-size: 3em; display: block; line-height: 1em; }
	.month { font-size: 1em; display: block; line-height: 1em; text-align: center; }
}

.section-dates .item .event {
	float: left;
	margin-left: 10px;

	.title { font-size: 1.4em; display: block; }
	.location { }
}


