/*
*	Body
*
*	Example HTML:
*
*	<body></body>
*/

html, body {
	// height: 100%;
	// width: 100%;
	width: 1920px;
	height: 1080px;
}

body {
	font-family: $font-default;
	font-size: 20px;  // Oh god, do NOT change this
	background: $color-grey-dark;
	color: #FFF;
}