/*
*	Body
*
*	Example HTML:
*
*	<body></body>
*/

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: $font-default;
	font-size: 16px;
	background: $color-grey-pale;
	color: #FFF;

	@media screen and (max-width: 1200px) {

		font-size: 10px;
	}
}