/*
*	Paragraph
*
*	Example HTML:
*
*	<p>Lorem ipsum Dolor enim pariatur qui in quis dolor minim./p>
*	<p>Lorem ipsum Dolor enim pariatur qui in quis dolor minim./p>
*/

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: $spacing;
	font-variant: normal;
	font-weight: normal;
}