/* -------------------------------------------------------- */
/* ------- COLOURS ---------------------------------------- */
/* -------------------------------------------------------- */
/* ------- COLOURS - DEFINITION --------------------------- */
/* ------- COLOURS - CONTEXT ------------------------------ */
/* -------------------------------------------------------- */
/* ------- FONTS ------------------------------------------ */
/* -------------------------------------------------------- */
/* ------- FONTS - DEFINITION ----------------------------- */
/* ------- FONTS - CONTEXT -------------------------------- */
/* -------------------------------------------------------- */
/* ------- SPACING ---------------------------------------- */
/* -------------------------------------------------------- */
/* ------- UTILITIES -------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ------- QUARKS ----------------------------------------- */
/*
*	Body
*
*	Example HTML:
*
*	<body></body>
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/quarks\/_body\.scss}line{font-family:\000039}}
html, body {
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/quarks\/_body\.scss}line{font-family:\0000314}}
body {
  font-family: "Serifa W01 Light";
  font-size: 16px;
  background: #EAEAEA;
}
@media screen and (max-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/quarks\/_body\.scss}line{font-family:\0000314}}
  body {
    font-size: 10px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/quarks\/_headings\.scss}line{font-family:\000031}}
.heading {
  font-size: 1.4em;
}

/*
*	Paragraph
*
*	Example HTML:
*
*	<p>Lorem ipsum Dolor enim pariatur qui in quis dolor minim./p>
*	<p>Lorem ipsum Dolor enim pariatur qui in quis dolor minim./p>
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/quarks\/_paragraph\.scss}line{font-family:\0000310}}
p {
  line-height: 1.4em;
  margin-bottom: 20px;
}

/* ------- ATOMS ------------------------------------------ */
/*
*	Screen wrapper
*
*	Example HTML:
*
*	<div class="screen"></div>
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/atoms\/_screen\.scss}line{font-family:\000039}}
.screen {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  position: relative;
  min-width: 1024px;
  min-height: 768px;
}

/*
*	Section
*
*	Example HTML:
*
*	<section class="section">
*		<div class="inner">
*			<header class="header">
*				<h2 class="heading">Section heading</h2>
*			</header>
*		</div>
*	</section>
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/atoms\/_sections\.scss}line{font-family:\0000315}}
.section {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/atoms\/_sections\.scss}line{font-family:\0000319}}
.section > .inner {
  *zoom: 1;
  overflow: hidden;
  margin: 5px;
  background: #FFF;
  height: calc(100% - 10px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/utilities\/_clearfix\.scss}line{font-family:\000035}}
.section > .inner:before, .section > .inner:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/utilities\/_clearfix\.scss}line{font-family:\000039}}
.section > .inner:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/atoms\/_sections\.scss}line{font-family:\0000327}}
.section > .inner > .header {
  margin: 10px;
}

/* ------- MOLECULES -------------------------------------- */
/* -------------------------------------------------------- */
/* ------- SECTIONS - COUNTDOWN --------------------------- */
/* -------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000324}}
.section-countdown {
  top: 0%;
  left: 20%;
  width: 60%;
  height: 10%;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000332}}
.section-countdown .time {
  display: inline-block;
  font-size: 4em;
  text-transform: uppercase;
  line-height: 1.6em;
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000340}}
.section-countdown .until {
  display: inline-block;
  font-size: 2em;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - NEWS -------------------------------- */
/* -------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000349}}
.section-news {
  top: 00%;
  left: 0%;
  width: 20%;
  height: 60%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000356}}
.section-news .figure {
  margin: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000360}}
.section-news .figure .preview {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000365}}
.section-news .figure .caption {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000369}}
.section-news .entry-content {
  margin: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000373}}
.section-news .entry-content .date {
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000377}}
.section-news .entry-content p {
  font-size: 2em;
  margin-bottom: 10px;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TWITTER ----------------------------- */
/* -------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000387}}
.section-twitter {
  top: 10%;
  left: 20%;
  width: 30%;
  height: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\0000394}}
.section-twitter .chart {
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  height: 150px;
  background: #EAEAEA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003101}}
.section-twitter .tweet {
  *zoom: 1;
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  height: 150px;
  background: pink;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/utilities\/_clearfix\.scss}line{font-family:\000035}}
.section-twitter .tweet:before, .section-twitter .tweet:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/utilities\/_clearfix\.scss}line{font-family:\000039}}
.section-twitter .tweet:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003109}}
.section-twitter .tweet .text {
  display: block;
  margin: 20px;
  font-size: 1.2em;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TEAM -------------------------------- */
/* -------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003119}}
.section-team {
  top: 10%;
  left: 50%;
  width: 30%;
  height: 80%;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TICKER ------------------------------ */
/* -------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003130}}
.section-ticker {
  top: 90%;
  left: 0%;
  width: 100%;
  height: 10%;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - POLL -------------------------------- */
/* -------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003141}}
.section-poll {
  top: 0%;
  left: 80%;
  width: 20%;
  height: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003148}}
.section-poll .question {
  margin-top: 20px;
  font-size: 1.4em;
  line-height: 1.3em;
  text-align: center;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - DATES ------------------------------- */
/* -------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003159}}
.section-dates {
  top: 60%;
  left: 0%;
  width: 20%;
  height: 30%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003166}}
.section-dates .list {
  margin: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003170}}
.section-dates .item {
  *zoom: 1;
  display: block;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/utilities\/_clearfix\.scss}line{font-family:\000035}}
.section-dates .item:before, .section-dates .item:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/utilities\/_clearfix\.scss}line{font-family:\000039}}
.section-dates .item:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003176}}
.section-dates .item .date {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003179}}
.section-dates .item .date .day {
  font-size: 3em;
  display: block;
  line-height: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003180}}
.section-dates .item .date .month {
  font-size: 1em;
  display: block;
  line-height: 1em;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003183}}
.section-dates .item .event {
  float: left;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexcoady\/Sites\/Screen\/app\/styles\/main\.scss}line{font-family:\00003187}}
.section-dates .item .event .title {
  font-size: 1.4em;
  display: block;
}
