/* -------------------------------------------------------- */
/* ------- COLOURS ---------------------------------------- */
/* -------------------------------------------------------- */
/* ------- COLOURS - DEFINITION --------------------------- */
/* ------- COLOURS - CONTEXT ------------------------------ */
/* -------------------------------------------------------- */
/* ------- FONTS ------------------------------------------ */
/* -------------------------------------------------------- */
/* ------- FONTS - DEFINITION ----------------------------- */
/* ------- FONTS - CONTEXT -------------------------------- */
/* -------------------------------------------------------- */
/* ------- SPACING ---------------------------------------- */
/* -------------------------------------------------------- */
/* ------- UTILITIES -------------------------------------- */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ------- QUARKS ----------------------------------------- */
/*
*	Body
*
*	Example HTML:
*
*	<body></body>
*/
/* line 9, ../../app/styles/quarks/_body.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 14, ../../app/styles/quarks/_body.scss */
body {
  font-family: "Serifa W01 Light";
  font-size: 16px;
  background: #EAEAEA;
}
@media screen and (max-width: 1200px) {
  /* line 14, ../../app/styles/quarks/_body.scss */
  body {
    font-size: 10px;
  }
}

/* line 1, ../../app/styles/quarks/_headings.scss */
.heading {
  font-size: 1.4em;
}

/*
*	Paragraph
*
*	Example HTML:
*
*	<p>Lorem ipsum Dolor enim pariatur qui in quis dolor minim./p>
*	<p>Lorem ipsum Dolor enim pariatur qui in quis dolor minim./p>
*/
/* line 10, ../../app/styles/quarks/_paragraph.scss */
p {
  line-height: 1.4em;
  margin-bottom: 20px;
}

/* ------- ATOMS ------------------------------------------ */
/*
*	Screen wrapper
*
*	Example HTML:
*
*	<div class="screen"></div>
*/
/* line 9, ../../app/styles/atoms/_screen.scss */
.screen {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  position: relative;
  min-width: 1024px;
  min-height: 768px;
}

/*
*	Section
*
*	Example HTML:
*
*	<section class="section">
*		<div class="inner">
*			<header class="header">
*				<h2 class="heading">Section heading</h2>
*			</header>
*		</div>
*	</section>
*/
/* line 15, ../../app/styles/atoms/_sections.scss */
.section {
  position: absolute;
}

/* line 19, ../../app/styles/atoms/_sections.scss */
.section > .inner {
  *zoom: 1;
  overflow: hidden;
  margin: 5px;
  background: #FFF;
  height: calc(100% - 10px);
}
/* line 5, ../../app/styles/utilities/_clearfix.scss */
.section > .inner:before, .section > .inner:after {
  content: "";
  display: table;
}
/* line 9, ../../app/styles/utilities/_clearfix.scss */
.section > .inner:after {
  clear: both;
}

/* line 27, ../../app/styles/atoms/_sections.scss */
.section > .inner > .header {
  margin: 10px;
}

/* ------- MOLECULES -------------------------------------- */
/* -------------------------------------------------------- */
/* ------- SECTIONS - COUNTDOWN --------------------------- */
/* -------------------------------------------------------- */
/* line 24, ../../app/styles/main.scss */
.section-countdown {
  top: 0%;
  left: 20%;
  width: 60%;
  height: 10%;
  text-align: center;
}

/* line 32, ../../app/styles/main.scss */
.section-countdown .time {
  display: inline-block;
  font-size: 4em;
  text-transform: uppercase;
  line-height: 1.6em;
  margin-right: 20px;
}

/* line 40, ../../app/styles/main.scss */
.section-countdown .until {
  display: inline-block;
  font-size: 2em;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - NEWS -------------------------------- */
/* -------------------------------------------------------- */
/* line 49, ../../app/styles/main.scss */
.section-news {
  top: 00%;
  left: 0%;
  width: 20%;
  height: 60%;
}

/* line 56, ../../app/styles/main.scss */
.section-news .figure {
  margin: 10px;
}

/* line 60, ../../app/styles/main.scss */
.section-news .figure .preview {
  max-width: 100%;
  height: auto;
}

/* line 65, ../../app/styles/main.scss */
.section-news .figure .caption {
  margin-top: 10px;
}

/* line 69, ../../app/styles/main.scss */
.section-news .entry-content {
  margin: 10px;
}

/* line 73, ../../app/styles/main.scss */
.section-news .entry-content .date {
  font-size: 1.2em;
}

/* line 77, ../../app/styles/main.scss */
.section-news .entry-content p {
  font-size: 2em;
  margin-bottom: 10px;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TWITTER ----------------------------- */
/* -------------------------------------------------------- */
/* line 87, ../../app/styles/main.scss */
.section-twitter {
  top: 10%;
  left: 20%;
  width: 30%;
  height: 80%;
}

/* line 94, ../../app/styles/main.scss */
.section-twitter .chart {
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  height: 150px;
  background: #EAEAEA;
}

/* line 101, ../../app/styles/main.scss */
.section-twitter .tweet {
  *zoom: 1;
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  height: 150px;
  background: pink;
}
/* line 5, ../../app/styles/utilities/_clearfix.scss */
.section-twitter .tweet:before, .section-twitter .tweet:after {
  content: "";
  display: table;
}
/* line 9, ../../app/styles/utilities/_clearfix.scss */
.section-twitter .tweet:after {
  clear: both;
}

/* line 109, ../../app/styles/main.scss */
.section-twitter .tweet .text {
  display: block;
  margin: 20px;
  font-size: 1.2em;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TEAM -------------------------------- */
/* -------------------------------------------------------- */
/* line 119, ../../app/styles/main.scss */
.section-team {
  top: 10%;
  left: 50%;
  width: 30%;
  height: 80%;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TICKER ------------------------------ */
/* -------------------------------------------------------- */
/* line 130, ../../app/styles/main.scss */
.section-ticker {
  top: 90%;
  left: 0%;
  width: 100%;
  height: 10%;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - POLL -------------------------------- */
/* -------------------------------------------------------- */
/* line 141, ../../app/styles/main.scss */
.section-poll {
  top: 0%;
  left: 80%;
  width: 20%;
  height: 90%;
}

/* line 148, ../../app/styles/main.scss */
.section-poll .question {
  margin-top: 20px;
  font-size: 1.4em;
  line-height: 1.3em;
  text-align: center;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - DATES ------------------------------- */
/* -------------------------------------------------------- */
/* line 159, ../../app/styles/main.scss */
.section-dates {
  top: 60%;
  left: 0%;
  width: 20%;
  height: 30%;
}

/* line 166, ../../app/styles/main.scss */
.section-dates .list {
  margin: 10px;
}

/* line 170, ../../app/styles/main.scss */
.section-dates .item {
  *zoom: 1;
  display: block;
  margin-bottom: 10px;
}
/* line 5, ../../app/styles/utilities/_clearfix.scss */
.section-dates .item:before, .section-dates .item:after {
  content: "";
  display: table;
}
/* line 9, ../../app/styles/utilities/_clearfix.scss */
.section-dates .item:after {
  clear: both;
}

/* line 176, ../../app/styles/main.scss */
.section-dates .item .date {
  float: left;
}
/* line 179, ../../app/styles/main.scss */
.section-dates .item .date .day {
  font-size: 3em;
  display: block;
  line-height: 1em;
}
/* line 180, ../../app/styles/main.scss */
.section-dates .item .date .month {
  font-size: 1em;
  display: block;
  line-height: 1em;
  text-align: center;
}

/* line 183, ../../app/styles/main.scss */
.section-dates .item .event {
  float: left;
  margin-left: 10px;
}
/* line 187, ../../app/styles/main.scss */
.section-dates .item .event .title {
  font-size: 1.4em;
  display: block;
}
