.chart {
	width: 100%;
}

/* TODO: Move axis */

.axis path, 
.axis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

text {
	font-family: inherit;
	font-size: 0.7em;
	font-weight: bold;
	fill: white;
}

.grid-line {
	stroke: rgba(black, 0.2);
}

.bar-background {
	fill: rgba(black, 0.2);
}

.bar-content {
	fill: $color-torquoise-bright;
}