.chart {
	// background: rgba(white, 0.2);
	width: 100%;
	margin-bottom: $spacing;
}

.chart--twitter-week {
	height: 300px;
}

.chart--twitter-month {
	height: 80px;
}

/* TODO: Move axis */

.axis path, 
.axis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}


 text {
	font-family: inherit;
	font-size: 18px;
	font-weight: bold;
	fill: white;
}

.grid-line {
	stroke: rgba(black, 0.2);
}

.bar-background {
	fill: rgba(black, 0.2);
}

.bar-content {
	fill: rgba(white, 0.7);
}