.chart {
	width: 100%;
}

/* TODO: Move axis */

.axis path, 
.axis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

text {
	font-family: inherit;
	font-size: 0.7em;
	font-weight: bold;
	fill: white;
}

@-webkit-keyframes pulse-width {
	0% {
		stroke-width: 2;
	}
	50% {
		stroke-width: 4;
	}
	100% {
		stroke-width: 2;
	}
}

@-webkit-keyframes pulse-color {
	0% {
		fill: $color-torquoise-bright;
	}
	50% {
		fill: #FFF;
	}
	100% {
		fill: $color-torquoise-bright;
	}
}

.chart-path {
	stroke: white;
    stroke-width: 3;
    fill: none;
}

.pulse-width {
	-webkit-animation: pulse-width 2000ms infinite;
}

.pulse-color {
	-webkit-animation: pulse-color 2000ms infinite;
}


.grid-line {
	stroke: rgba(black, 0.2);
}

.bar-background {
	fill: rgba(black, 0.2);
}

.bar-content {
	fill: $color-torquoise-bright;
}