/*
*	Section
*
*	Example HTML:
*
*	<section class="section">
*		<div class="inner">
*			<header class="header">
*				<h2 class="heading">Section heading</h2>
*			</header>
*		</div>
*	</section>
*/

.section {
	position: absolute;
	-webkit-animation: fade-in 600ms;
}

.section > .inner {
	@include clearfix;
	overflow: hidden;
	position: relative;
	margin: $spacing / 2;
	background: #FFF;
	height: calc(100% - 10px);
}

.section .content {
	@include clearfix;
	padding: ($spacing * 2) $spacing $spacing;
}

.section > .inner .content--stats {
	padding-left: $spacing * 2;
	padding-right: $spacing * 2;
}

.section > .inner .content--highlight {
	background: #FFF;
	color: black;
}

.section > .inner .header {
	background: rgba(black, 0.1);
	padding: ($spacing * 1.5) $spacing;
}

.section > .inner .header .heading {
	margin-bottom: 0;
	text-transform: uppercase;
}

/*
*	Section overrides
*/


/* -------------------------------------------------------- */
/* ------- SECTIONS - COUNTDOWN --------------------------- */
/* -------------------------------------------------------- */

.section--countdown {
	text-align: center;

	@include grid-columns();
	height: 70px;
	top: 0;
}

.section--countdown .content {
	background: $color-indigo;
	color: #FFF;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TWITTER ----------------------------- */
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* ------- SECTIONS - NEWS -------------------------------- */
/* -------------------------------------------------------- */

.section--news {
	@include grid-columns(4);
	height: 930px;
	top: 70px;
}

.section--news .inner {
	background: $color-red;
}

/* -------------------------------------------------------- */
/* ------- SECTIONS - TEAM -------------------------------- */
/* -------------------------------------------------------- */

.section--team {
	@include grid-columns(9, 10);
	height: 430px;
	top: 400px;
}

.section--team .inner {
	background: $color-indigo;
}


/* -------------------------------------------------------- */
/* ------- SECTIONS - TICKER ------------------------------ */
/* -------------------------------------------------------- */

.section--ticker {
	@include grid-columns();
	top: 1000px;
	height: 70px;
}

.section--ticker > .inner {
	background: transparent;
	color: $color-grey-dark;
}


/* -------------------------------------------------------- */
/* ------- SECTIONS - POLL -------------------------------- */
/* -------------------------------------------------------- */

.section--poll {
	@include grid-columns(5, 19);
	top: 70px;
	height: 83%;
}

.section--poll .inner {
	background: $color-magenta;
}
