/*
*	Stats
*	
*	Example HTML:
*
*	<div class="stats__item">
*		<span class="stat__value">Value</span>
*		<span class="stat__title">Title</span>
*	</div>
*/

.stats__item {
	display: block;
	float: left;
}

.stats__item .stat__value {
	display: block;
	font-size: 2.5em;
}

.stats__item .stat__title {
	display: block;
	margin-top: 2px;
	color: $color-grey-med;
	font-size: 0.75em;
	text-transform: uppercase;
}