<section class="tweet">
	<span class="text"><%= status.text %></span>
</section>

<span class="value"><%= statuses_count %></span>
<span class="title">Tweets</span>

<span class="value"><%= followers_count %></span>
<span class="title">Followers</span>

<span class="value"><%= favourites_count %></span>
<span class="title">Favorites</span>